.count-value {
  color: hsl(128, 100%, 40%);
  font-size: 5rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.buttons > button {
  background-color: hsl(240, 100%, 54%);
  transition: background-color 200ms ease-in-out;
}

.buttons > button:hover {
  background-color: hsl(240, 100%, 44%);
  color: hsl(180, 100%, 92%);
}
